In [1]:
# Starter code
import numpy as np
import osmnx as ox
import geopandas as gpd
import pandas as pd
import folium

In [2]:
# Geo Data from Open Street Map
tags = {'admin_level': '6'}
geo = ox.features_from_place(
    query="Schleswig-Holstein, Germany",
    tags=tags)
geo = geo.reset_index()
geo = geo[geo.element_type=='relation']
geo.head(3)

c:\Users\dorar\Documents\kiel\data_science\semester_2\application_projects\dataLab_kiel\code\SH_data_platform\datalab_venv\Lib\site-packages\osmnx\_overpass.py:254: UserWarning: This area is 12 times your configured Overpass max query area size. It will automatically be divided up into multiple sub-queries accordingly. This may take a long time.
  multi_poly_proj = utils_geo._consolidate_subdivide_geometry(poly_proj)

,element_type,osmid,geometry,name,name:ar,name:cs,name:da,name:de,name:el,name:en,...,name:ia,name:ky,name:tum,name:wuu,name:xmf,alt_name:fo,alt_name:ia,alt_name:is,alt_name:ja,alt_name:la
171,relation,27027,"MULTIPOLYGON (((10.64059 53.78700, 10.64047 53...",Lübeck,لوبك,Lubek,Lybæk,Lübeck,Λίμπεκ,Lübeck,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,relation,62546,"MULTIPOLYGON (((10.11538 53.71466, 10.11550 53...",Stormarn,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,relation,62703,"POLYGON ((10.23831 53.49620, 10.23881 53.49657...",Herzogtum Lauenburg,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
geo.to_csv("sh_boundaries_6.csv")